{% extends 'base.html' %}

{% block page_title %}Create Account{% endblock %}

{% block content %}
    <h1>Create an Account</h1>
    <form class="form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create Account">
    </form>
{% endblock %}