{% extends 'base.html' %}

{% block page_title %}{{ object.name }} Details{% endblock %}

{% block content %}
    <h1>Details for {{ object.get_service_type_display }} {{ object.name }}</h1>
    <hr>
    <p><strong>Service Type: </strong>{{ object.get_service_type_display }}</p>
    <p><strong>Name: </strong>{{ object.name }}</p>
    <p><strong>Status: </strong>{{ object.status }}</p>
    {% if object.text %}
        <p><strong>Text: </strong>{{ object.text | linebreaks }}</p>
    {% else %}
        <p><strong>Text: </strong>N/A</p>
    {% endif %}
    {% if object.datetime %}
        <p><strong>Datetime: </strong>{{ object.datetime }}</p>
    {% else %}
        <p><strong>Datetime: </strong>N/A</p>
    {% endif %}
{% endblock %}