{% extends 'base.html' %}

{% block page_title %}Service Status{% endblock %}

{% block content %}
    <h1>Service Status</h1>
    <form method="get" action="{% url 'index' %}">
        <div class="row">
        <div class="col"></div>
        <select id="filter-service-type" name="filter" class="form-control mb-2 mx-4 col">
            <option value="">Show All</option>
            <option value="subway">Subway</option>
            <option value="bus">Bus</option>
            <option value="BT">Bridge/Tunnel</option>
            <option value="LIRR">Long Island Railroad</option>
            <option value="MetroNorth">Metro-North Railroad</option>
        </select>
        <button type="submit" class="btn btn-primary mb-2 mx-4 col">Submit</button>
        <div class="col"></div>
        </div>
    </form>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Details</th>
                <th scope="col">Datetime</th>
                <th scope="col">Favorite</th>
            </tr>
        </thead>
        <tbody>
            {% for service in service_list %}
                <tr>
                    <td>{{ service.get_service_type_display }}</td>
                    <td><a href="{% url 'details' service.id %}">{{ service.name }}</a></td>
                    <td>{{ service.status }}</td>
                    {% if service.text %}
                        <td>{{ service.text | linebreaks }}</td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                    {% if service.datetime %}
                        <td>{{ service.datetime }}</td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                    {% if service in request.user.profile.favorites.all %}
                        <td><a href="{% url 'unfavorite-service' service.id %}">Unfavorite</a></td>
                    {% else %}
                        <td><a href="{% url 'favorite-service' service.id %}">Favorite</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}